.title {
  /* text-align: center; */
  padding-bottom: 3%;
  font-weight: bold;
  margin-left: 25%;
}

.list_area {
  width: 50%;
  margin: 0 25%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.booklist_list {
  grid-column: 0;
}

.books_list_area {
  grid-column: 1;
}
.menu_button {
  border: none;
  position: absolute;
  right: 0px;
  left: 80px;
  z-index: 1001;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #000000;
}

.menu_button:focus {
  outline: 0;
  box-shadow: none;
}
.offcanvas {
  width: 200px;
}
