.authors_link {
  color: black;
}

.title {
  text-align: center;
  padding-bottom: 1%;
  font-weight: bold;
}

.authorslist {
  /* background-color: red; */
  height: 90%;
  margin: 0 auto;
  overflow-y: auto;
  text-align: center;
}
